/*For mobile*/
html, body {
    overflow-x:hidden;
}
.bg-pattern {
    background: linear-gradient(rgba(31, 83, 171, 0.9), rgba(0, 28, 160, 0.9)), url('../../images/bg_big_pattern.png');
}
.padding-top-30 {
    padding-top:30px;
}
.p-margin {
    margin: 20px;
}
.margin-right-20 {
    margin-right: 20px;
}
.b-margin {
    margin: 5px;
}
.padding-30 {
    padding: 30px;
}
.padding-bottom-60 {
    padding-bottom: 60px;
}
.padding-10 {
    padding: 10px;
}
.padding-top-40 {
    padding-top: 40px;
}
.padding-top-70 {
    padding-top: 70px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-bottom-100 {
    padding-bottom: 100px;
}
.padding-bottom-30 {
    padding-bottom: 30px;
}
.margin-top-minus-60 {
    margin-top: -60px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-bottom-60 {
    padding-bottom: 60px;
}
.padding-top-50 {
    padding-top: 50px;
}

@media (max-width: 768px) {
    .margin-top-minus-60 {
        margin-top: 0;
    }
}


.talk-to-us {
    height: 58px;
    width: 202px;
    background-color:#2F76FD;
    border-color: #2F76FD;
    border-radius: 10px;
    font-weight: 700;
}
.learn-more{
    background-color:transparent;
    border-color: white;
    border-width: 2px;
    height: 58px;
    width: 202px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.learn-more-cancel{
    background-color:transparent;
    border-color: #2F76FD;
    border-width: 2px;
    height: 58px;
    width: 202px;
    border-radius: 10px;
    color: #2F76FD;
    font-weight: 700;
    font-size: 16px;
}

.learn-more:hover {
    /*background-color: #2F76FD;*/
    color: #2F76FD;
    border-color: #2F76FD;
}
.footer-text {
    color: #A5A5A5;
}
.i-social {
    padding-right: 10px;
    padding-top: 10px;
}

.margin-top-bottom-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.solid {
    border-style: solid;
}
@media (max-width: 768px) {
    .margin-top-30-mobile {
        margin-top: 50px;
    }
}
.padding-top-x{
    padding-top: 70px;
}
@media (max-width: 864px) {
    .padding-top-x{
        padding-top: 37px;
    }
}
@media (max-width: 610px) {
    .padding-top-x{
        padding-top: 11px;
    }
}
.padding-top-copyright {
    padding-top: 115px;
}
@media (max-width: 768px) {
    .padding-top-copyright {
        padding-top: 30px;
    }
}