.white {
    color: white;
}
.padding-top-30 {
    padding-top:30px;
}
.padding-left-65 {
    padding-left: 65px;
}
.p-margin {
    margin: 40px;
}
.margin-right-20 {
    margin-right: 20px;
}
.b-margin {
    margin: 5px;
}
.padding-30 {
    padding: 30px;
}
.padding-bottom-60 {
    padding-bottom: 60px;
}
.padding-bottom-70 {
    padding-bottom: 100px;
}
.padding-right-20 {
    padding-right: 20px;
}
.padding-50 {
    padding: 50px;
}

.padding-20 {
    padding: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-top-40 {
    padding-top: 40px;
}
.padding-top-70 {
    padding-top: 70px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-bottom-150 {
    padding-bottom: 150px;
}
.padding-top-100 {
    padding-top: 100px;
}
.padding-bottom-30 {
    padding-bottom: 30px;
}
.padding-top--50 {
    margin-top: -100px;
}
.talk-to-us {
    height: 58px;
    width: 202px;
    background-color:#2F76FD;
    border-color: #2F76FD;
    border-radius: 10px;
}
.learn-more{
    background-color:transparent;
    border-color: white;
    border-width: 2px;
    height: 58px;
    width: 202px;
    border-radius: 10px;
    color: white;
}

.learn-more:hover {
    background-color: #2F76FD;
    color: white;
}
.footer-text {
    color: #A5A5A5;
}
.folow-us {
    color: white;
}
.i-social {
    padding-right: 10px;
    padding-top: 10px;
}
