.bg {
    background-size: cover !important;
    background: url('../../images/hero.png') 60% 50%;
    height: 700px;
}
.hero-box {
    margin-top: -100px;
}
.box-content {
    padding: 25px;
}
@media (max-width: 768px) {

    .hero-b {
        width: 100%;
    }
}

