.section-3 {
    background-color: #EBEBEB;
}
.section-2-bottom {
    background-color: #F7F7F7;
}
.section-2-top {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../../images/curved_bg_webs.svg) no-repeat;
}
@media (max-width: 768px) {

    .section-2-top {
        background: #F7F7F7 none;
    }
}
@media (min-width: 1471px) {

    .section-2-top {
        background: #F7F7F7 none;
    }
}
.section-2-box {
    background-color: white;
    border-radius: 10px;
    padding-top: 38px;
    padding-bottom: 38px;
    height: 245px;
    padding-left: 5px;
}
@media (max-width: 1471px) {
    .section-2-box {
        height: 300px;
    }
}
@media (max-width: 1087px) {
    .section-2-bottom {
        padding: 30px;
    }
}
@media (max-width: 768px) {
    .section-2-box {
        margin-left: 40px;
        margin-right: 40px;
        height: 285px;
    }
}
@media (min-width: 768px) {
    .hw-m {
        display: none;
    }
}
@media (max-width: 768px) {
    .hw-d {
        display: none;
    }
}
.list-b {
    list-style-image: url('../../images/check_mark.png');
    margin: 10px 10px 10px 20px;
}
.footer {
    background-color: #20242B;
}
@media (max-width: 768px) {
    .section-5-image {
        height: 166px;
        width: 166px;
    }
}
@media (min-width: 768px) {
    .second-image {
        display: none;
    }
}
@media (max-width: 768px) {
    .first-image {
        display: none;
    }
}
@media (min-width: 768px) {
    .bullet {
        display: none;
    }
}
@media (max-width: 768px) {
    .section-5-content {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 768px) {
    .section-5-content {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 768px) {
    .ho-image {
        height: 50px;
        width: 50px;
    }
}
.image-rot {
    transform: rotate(25deg);
}
@media (max-width: 768px) {
    .padding-talk-to-us {
        padding: 0 50px 60px;
    }
}