.section-3 {
    background-color: #EBEBEB;
}
.section-2 {
    background-color: #F7F7F7;
    border-radius: 100px / 5px;
}
.section-2-box {
    background-color: white;
    margin:10px;
    border-radius: 7px;
}