h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.8em;
    font-weight: 300;
    color: white;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    color: blue;
    font-size: 45px;
    font-weight: 300;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 300;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 300;

}
h5 {
    font-family: 'Open Sans', sans-serif;
    color: blue;
    font-size: 40px;
    font-weight: 300;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #282828;
}
@media (max-width: 768px) {

    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 30px;
    }
}

.font-14 {
    font-size: 14px;
}
.font-16 {
    font-size: 16px;
    font-weight: 300;
}
.font-18-light {
    font-size: 18px;
    font-weight: 300;
}
.title-how-it-works {
    font-size: 24px;
    font-weight: 300;
}
@media (max-width: 768px) {
    .title-how-it-works {
        padding-top: 8px;
        font-size: 18px;
        font-weight: 400;
    }
}
.font-18 {
    font-size: 18px;
    font-weight: 400;
}
.font-22-bold {
    font-size: 22px;
    font-weight: 700;
}
.font-45-light {
    font-size: 45px;
    font-weight: lighter;
}
.font-24 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}
.blue {
    color: #1224FC;
}
.light-blue {
    color: #2F76FD;
}
.white {
    color: white;
}
.gray {
    color: #999999;
}